.dashboard-layout {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    width: 100%;
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}



.dashboard-layout div {
    margin: 10px 0px;
}


.dashboard-layout button {
    margin-left: 0px;
}
.sessions-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.session-details {
    display: flex;
    flex-direction: column;
}

.graph-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    text-align: left;
}

.dashboard-layout button {
    display: block;
    margin: 0px;
  }

  .add-session > * {
    margin: 25px 0px
  }
