.graph-container {
    display: flex;
    width: 100%;
    gap: 16px;
}

.graph {
    flex: 1 1 0;
    min-width: 450px;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 13px;
    background: #333;
    box-shadow: -10px -10px 20px 0 #3C3C3C, 10px 10px 20px 0 #1E1E1E, -4px -4px 8px 0 rgba(77, 77, 77, 0.25) inset, 4px 4px 8px 0 #1E1E1E inset;
}

.graph h4 {
    text-align: center;
}

.graph select {
    border: none;
    border-color: 1px solid none;
    border-radius: 13px;
    padding: 10px;
    background: #333;
    box-shadow: -12px -12px 24px 0 #3E3E3E inset, 12px 12px 24px 0 #1E1E1E inset;
}

.bar-graph {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
}