.insights-card {
    border: 1px solid white;
    border-radius: 15px;
}

.insights-icon {
    cursor: pointer;
    padding: 0px
}

td .weight-label {
    font-size: 0.7rem;
    margin: 0;
  }

  .session-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }