.card-layout {
display: flex;
flex-direction: column;
    border-radius: 10px;
    box-shadow: -10px -10px 20px 0 #3C3C3C, 10px 10px 20px 0 #1E1E1E, -4px -4px 8px 0 rgba(77, 77, 77, 0.25) inset, 4px 4px 8px 0 #1E1E1E inset;
width: 100%
}

.card-exercise-layout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    padding: 20px;
}

.card-text-graph-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px
}

