.tooltip-container {
    background-color: var(--neutral);
    position: absolute;
    top: 100%;
    right: 0;
    margin: 0;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    color: black;
    text-align: start;
    z-index: 1000;
    min-width: 220px;
}

.tooltip-container * {
    margin: 10px 0px
}


.tooltip-container span {
    font-size: 0.7rem;
}

.hide-tooltip-symbol {
    display: none
}

.tooltip {
    position: relative;
    display: inline-flex;
    align-items: center;
}