.insights-card {
    border: 1px solid white;
    border-radius: 15px;
}

.insights-icon {
    cursor: pointer;
    padding: 0px
}

td .weight-label {
    font-size: 0.7rem;
    margin: 0;
  }

  .session-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .body-part-pill {
    border-radius: 100px;
 
    color: white;
    background-color: var(--pill3);
    font-size: 0.7rem;
    padding: 5px 10px;
  }

  .ai-recommendation-response {
    font-size: 0.8rem;
    width: 300px;
  }

  .ai-recommendation-btn {
    color: var(--pill3);
    cursor: pointer;
  }

  .insights-button {
    background: #333;
box-shadow: -10px -10px 20px 0 #3C3C3C, 10px 10px 20px 0 #1E1E1E, -4px -4px 8px 0 rgba(77, 77, 77, 0.25) inset, 4px 4px 8px 0 #1E1E1E inset;
display: flex;
flex-direction: column;
padding: 20px;
gap: 20px;
align-items: center;
  }